extends layout

block content
  
  .single-cont
        .title-img-cont
          .single-title
            h2.bold= review.podTitle
            
            a(href='#')
              h4.black-link= review.podUrl
          .single-img
            a(href=`${review.podUrl}`)
              img(src=`/uploads/${review.podImg}` , alt=review.podTitle)
        br
        .single-text
          h3 Review from: user404
          p= review.podReview
          br
          h3 Rating: #{review.podScore}
